.social-list {
    display: flex;

    @extend %list;

    & .item + .item {
        margin-left: 10px;
    }
}

.social-item .link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    @include centeredFlex(flex);

    fill: $social-icon-color;

    transition: background-color $transition-duration $transition-timing-function, fill $transition-duration $transition-timing-function;

    @extend %link;

    &:hover,
    &:focus {
        background-color: $accent-color;
        fill: $bcg-primary-color;
    }
}

.footer-social {
    display: flex;

    @media screen and (max-width: 1199px) {
        justify-content: center;
    }

    @extend %list;

    & .link {
        background-color: $bcg-footer-link-color;
        fill: $bcg-primary-color;
    }

    & .item + .item {
        margin-left: 10px;
    }
}

@media screen and (max-width: 479px) {
    .social-list {
        justify-content: center;
    }
}