/* our team - section 4 */

.team {
    background-color: $bcg-secondary-color;
}

.team__box {
    padding: 30px 122px 24px 122px;

    @media screen and (min-width: 768px) {
        padding: 30px 74px 24px 74px;
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 32px;
    }
}

.team__name {
    color: $text-secondary-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.team__position {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.team__name,
.team__position {
    text-align: center;
}


.team__list {
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.team__item {
    background: $bcg-primary-color;
    box-shadow: $box-shadow-team;
    border-radius: 0px 0px 4px 4px;

    margin-bottom: 30px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .team__item {
        flex-basis: calc((100% - 30px) / 2);
    }

    .team__item:nth-child(2n+1) {
        margin-right: 30px;
    }

    .team__item:nth-child(n+3) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .team__item + .team__item {
        margin-left: 30px;
    }

    .team__item {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 479px) {
    .team__box {
        padding: 24px 40px;
    }
}