$text-primary-color: #757575;
$text-secondary-color: #212121;
$main-footer-text-color: #FFFFFF;
$accent-color: #2196F3;
$button-primary-hover-color: #188CE8;
$logo-color: #000000;
$bcg-primary-color: #FFFFFF;
$bcg-secondary-color: #F5F4FA;
$bcg-main-footer-color: #2F303A;
$footer-contacts-color:rgba(255, 255, 255, 0.6);

$shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-button-primary: 0px 4px 4px rgba(0, 0, 0, 0.15);
$border-bottom-color: #ECECEC;
$box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$projects-border-color: #EEEEEE;
$projects-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$overlay-linear-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
$border-customers-color: #AFB1B8;
$bcg-footer-link-color: rgba(255, 255, 255, 0.1);
$social-icon-color: #AFB1B8;
$overlay-bcg-color: #C4C4C4;
$projects-overlay-color: rgba(33, 150, 243, 0.9);
$job-label-bcg-color: rgba(47, 48, 58, 0.8);
$overlay-modal: rgba(0, 0, 0, 0.2);
$box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$border-close-button: 1px solid rgba(0, 0, 0, 0.1);
$border-form-input: 1px solid rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$border-footer-input: 1px solid rgba(255, 255, 255, 0.3);
$filter-footer-input: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);